127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

10.0.26.221	ctrl01
10.0.26.222	ctrl02
10.0.26.223	ctrl03
