127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ master_ip }}		{{ master_hostname }}
{{ slave_ip }}		{{ slave_hostname }}
{{ barman_ip }}		{{ barman_hostname }}
