127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

10.0.26.11 web1.lan
10.0.26.12 web2.lan
10.0.26.21 haproxy1.lan
10.0.26.22 haproxy2.lan
10.0.26.31 db1.lan
10.0.26.32 db2.lan
10.0.26.33 db3.lan
10.0.26.41 nfs.lan
10.0.26.42 backup.lan
