hostname {{ hostnamesrv }}-ospf
password quagga
enable password quagga
log file /var/log/quagga/ospfd.log
!
{% for if in ifname %}
interface {{ if }}
{% endfor %}
!
router ospf
  ospf router-id {{ router_id }}
{% for ip in ifnetwork %}
  network {{ ip }}
{% endfor %}
!
line vty
!
