hostname {{ hostnamesrv }}-zebra
password quagga
enable password quagga
log file /var/log/quagga/zebra.log
!
{% for if in ifname %}
interface {{ if }}
{% endfor %}
!
interface lo
!
ip address {{ router_id }}/{{ router_id_mask }}
!
ip forwarding
!
