hostname {{ hostname }}
password quagga
enable password quagga
log file /var/log/quagga/zebra.log

interface lo
ip address {{ router_id }}/{{ router_id_mask }

#interface {{ quagga.ifname }}
{% for if in ifname %}
  interface {{ if }}
{% endfor %}

ip forwarding
