hostname {{ hostnamesrv }}-zebra
password quagga
enable password quagga
log file /var/log/quagga/zebra.log
!
{% for if in ifname %}
interface {{ if }}
{% endfor %}
!
interface Loopback0
 ip address {{ ifnamelo }}
!
ip forwarding
