127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ ipserver }} {{ server }}
{{ ipclient }} {{ client }}
search {{ search }}

#192.168.11.162 ipaclient.otus.lan
#192.168.11.161 ipaserver.otus.lan
#search otus.lan
